
body {
    background-color: #f4f9f4; 
    color: #333333; 
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    margin: 0;
    padding: 20px;
}
header {
    background-color: #004204; 
    color: white; 
    padding: 30px;
    text-align: center; 
    border-radius: 10px; 
}
h1, h2 {
    font-family: 'Montserrat', sans-serif; /* FONTE 2: Usada apenas para títulos */
}
.botoes-tamanho {
    margin-top: 15px;
    text-align: right; /* Joga os botões para a direita */
}
/* Configuração visual dos botões */
button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 5px;
}
/* Configuração dos textos */
p {
    line-height: 1.6; /* Aumenta o espaço entre as linhas para facilitar a leitura */
}
.boas-vindas {
    background-color: #e8f5e9; /* Verde bem claro para destacar */
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}
/* Configuração da caixa onde a pessoa digita (input) */
.boas-vindas input {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    outline: none;
}
/#caixa-interacao {
    background-color: #e8f5e9;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
#campo-nome {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    margin-right: 10px;
}
#texto-saudacao {
    color: #2e7d32;
    text-align: center;
    background-color: #e8f5e9;
    padding: 15px;
    border-radius: 10px;
}
/* Títulos das seções */
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2e7d32; /* Verde escuro */
    margin-top: 30px;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 5px;
}
/* Estilo da lista de sustentabilidade */
.sustentabilidade ul {
    background-color: #e8f5e9;
    padding: 20px 20px 20px 40px;
    border-radius: 8px;
}
.sustentabilidade li {
    margin-bottom: 10px;
    font-weight: bold;
    color: #2e7d32;
}